.venv/
__pycache__/
.env
*.code-workspace
.python-version
.github/
AGENTS.md

data/*
!data/armenpflege.01.csv

!data/armenpflege.full.parquet
!data/armenpflege.filtered.parquet
!data/armenpflege.filtered.tokens.parquet
!data/armenpflege.filtered.lemmas.parquet
!data/armenpflege.filtered.sentences.parquet
!data/armenpflege.word_vectors
!data/armenpflege.vecs.tsv
!data/armenpflege.meta.tsv


!data/armenpflege.filtered.pp.csv
!data/armenpflege.filtered.pp.label.niclas.csv
!data/armenpflege.filtered.pp.label.elias.csv
!data/armenpflege.filtered.pp.label.llm.csv
